.container-post{
    display: grid;
    grid-template-columns: 3fr 7fr;
    /* grid-template-rows: 1fr 1fr; */
    margin-top: 3.5%;
    grid-column-gap: 0.5%;

}

.box1{
    /* margin-left:2%; */
    /* height: 700px; */
    padding: 5px;
    /* text-align: center; */
    background: #E85D23;
    color:black;
    border-style: groove;
    border-width: 2px;
    border-color: ridge;
}

.box2{
    padding: 15px;
    /* height: 700px; */
    /* text-align:; */
    background: #E85D23;
    color: honeydew;
    /* margin-right: 1%; */
    border-style: groove;
    border-width: 2px;
    border-color: ridge;
}

.box-post h5{
    /* background: royalblue; */
    margin-top: 5%;
}
.box-publicar{
    /* background: pink; */
    margin: auto;
}

